<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server - DNMS</title>
    <!-- HEAD -->
    <%- include('../partials/head') %>
</head>

<body class="antialiased">
    <div class="page">
        <!-- HEADER  -->
        <%- include('../partials/header') %>

        <div class="content">
            <div class="container-xl">
                <!-- PAGE HEADER  -->
                <div class="page-header d-print-none">
                    <div class="row align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">Manage</div>
                            <div class="page-pretitle">
                                <h2 class="page-title">Server</h2>
                            </div>
                        </div>
                        <!-- Page title actions -->
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <span class="d-none d-sm-inline">
                                    <a href="" class="btn btn-white"> Refresh Neighbor </a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CONTENT  -->
                <div class="row row-deck row-cards">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-vcenter card-table" id="table-neighbor">
                                    <thead>
                                        <tr>
                                            <th>Interface</th>
                                            <th>Address</th>
                                            <th>MAC Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td class="text-muted"></td>
                                            <td class="text-muted"></td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- FOOTER  -->
            <%- include('../partials/footer') %>
        </div>
    </div>

    <!-- JAVASCRIPT  -->
    <%- include('../partials/javascript') %>
    <script>
        var neighbors = [
            /* beautify preserve:start */
            <% if (locals.result && locals.result.status === 'success') { %>
                <% locals.result.data.forEach(function (neighbor) { %>
                    {
                        interface: '<%= neighbor['interface '] %>',
                        address: '<%= neighbor['address '] %>',
                        macAddress: '<%= neighbor['mac-address'] %>',
                    },
                <% }) %>
            <% } %>
            /* beautify preserve:end */
        ];
        docReady(function () {
            showNeighbor()
        });

        function showNeighbor(event) {
            if (event !== undefined) {
                event.preventDefault();
            }
            document.querySelector('#table-neighbor tbody').innerHTML = '';

            function renderTable(neighbors = Array()) {
                if (neighbors.length <= 0) {
                    neighborRow = document.createElement('tr');
                    neighborRow.innerHTML = `<tr><td colspan="3"><div class="empty"><div class="empty-img"><img src="/assets/vendor/tabler/static/illustrations/undraw_quitting_time_dm8t.svg" height="128" alt=""></div><p class="empty-title">No results found</p><p class="empty-subtitle text-muted"> Try adjusting your search or filter to find what you're looking for.</p></div></td></tr>`;
                    document.querySelector('#table-neighbor tbody').append(neighborRow);
                } else {
                    neighbors.map(function (neighbor) {
                        neighborRow = document.createElement('tr');
                        neighborRow.innerHTML = /*html*/ `
                            <td>${neighbor['interface']}</td>
                            <td>${neighbor['address']}</td>
                            <td>${neighbor['macAddress']}</td>`;
                        document.querySelector('#table-neighbor tbody').append(neighborRow);
                    })
                }
            }

            renderTable(neighbors);
        }
    </script>
</body>

</html>